<?xml version="1.0"?>
<robot name="nav_omni4">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.555 0.555 0.015"/>
            </geometry>
        </visual>
    </link>

    <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 -0.09" rpy="0 0 0"/>
    </joint>

    <link name="lidar_link1">
        <visual>
            <geometry>
                <cylinder radius="0.006" length="0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link1"/>
        <origin xyz="-0.3155 0 0" rpy="3.14 0 3.14"/>
    </joint>
</robot>



